<div class="bg-white p-6 rounded-2xl shadow-lg min-w-[600px]">
  <h2 class="text-green-dark font-bold text-lg"><%= t("backoffice.change_password.title") %></h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, "data-turbo": false }) do |f| %>
    <%= f.error_notification %>

    <%= f.input :reset_password_token, as: :hidden %>
    <%= f.full_error :reset_password_token %>

    <%= f.input :password,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>

    <%= f.submit t("backoffice.change_password.button"), class: "button button-primary-green mx-auto" %>
  <% end %>
</div>
