<%= render "backoffice/base/filters", q: q do |f| %>
  <%= render partial: "backoffice/base/full_text_filter", locals: { f: f } %>
  <div class="w-30 inline-block mx-3">
    <%= f.input :status_eq, as: :select, required: false, label: false, include_blank: I18n.t("backoffice.common.status"), collection: ProjectStatus.all %>
  </div>
  <div class="w-30 inline-block">
    <%= f.input :category_eq, as: :select, required: false, label: false, include_blank: I18n.t("backoffice.common.category"), collection: Category.all.sort_by(&:name) %>
  </div>
  <div class="w-30 inline-block mx-3">
    <%= f.input :priority_landscape_id_eq, as: :select, required: false, label: false, include_blank: I18n.t("backoffice.projects.index.priority_landscape"), collection: Location.region.sort_by(&:name) %>
  </div>
<% end %>
