<%= simple_form_for [:backoffice, project], url: backoffice_project_path(project.id) do |f| %>
  <%= f.error_notification %>
  <%= hidden_field_tag :content_lang, params[:content_lang] %>
  <%= hidden_field_tag :section, params[:section] %>

  <%= localized_input f, :name, content_language, label: t("simple_form.labels.project.name"), as: :string %>
  <%= f.input :project_images, label: t("simple_form.labels.project.project_images"), as: :file, input_html: { multiple: true, accept: "image/*" } %>

  <h2 class="mb-4 mt-6 text-gray-600 font-semibold text-xl">
    <%= t(".location") %>
  </h2>
  <div class="grid grid-cols-3 gap-4">
    <%= f.input :country_id, collection: Location.country.order(["name", content_language].join("_")), label: t("simple_form.labels.project.country"), include_blank: false %>
    <%= f.input :department_id, collection: Location.department.order(["name", content_language].join("_")), label: t("simple_form.labels.project.department"), include_blank: false %>
    <%= f.input :municipality_id, collection: Location.municipality.order(["name", content_language].join("_")), label: t("simple_form.labels.project.municipality"), include_blank: false %>
  </div>
  <div data-controller="shapefile" data-shapefile-messages-value="<%= t('.shapefile_messages').to_json %>">
    <input type="file" name="shapefile" class="sr-only" data-shapefile-target="input" data-action="shapefile#readFiles" multiple />
    <%= f.input :geometry, input_html: { value: f.object.geometry.to_json, "data-shapefile-target": "output", rows: 5 } %>
    <p data-shapefile-target="errorMessage" class="mt-2 text-red-500 text-xs italic hidden">
    </p>
    <p data-shapefile-target="successMessage" class="mt-2 text-green-dark text-xs italic hidden">
      <%= t(".shapefile_loaded") %>
    </p>
    <div class="flex gap-4 justify-end">
      <button type="button" class="button button-primary-green" data-uploading-text="<%= t('.shapefile_uploading') %>" data-shapefile-target="uploadButton" data-action="shapefile#upload">
        <%= t(".shapefile_upload") %>
      </button>
    </div>
  </div>

  <h2 class="mb-4 mt-6 text-gray-600 font-semibold text-xl">
    <%= t(".project_developers") %>
  </h2>
  <%= f.input :project_developer_id, collection: ProjectDeveloper.includes(:account).order("accounts.name"), label: t("simple_form.labels.project.project_developer"), include_blank: false %>
  <%= f.input :involved_project_developer_ids, collection: ProjectDeveloper.includes(:account).order("accounts.name"), label: t("simple_form.labels.project.involved_project_developers"), input_html: { multiple: true }, include_blank: true, include_hidden: false %>

  <h2 class="mb-4 mt-6 text-gray-600 font-semibold text-xl">
    <%= t(".description") %>
  </h2>
  <div class="grid grid-cols-2 gap-4">
    <%= f.input :development_stage, collection: ProjectDevelopmentStage.all, label: t("simple_form.labels.project.development_stage"), include_blank: false %>
    <%= f.input :estimated_duration_in_months, label: t("simple_form.labels.project.estimated_duration_in_months"), placeholder: t("simple_form.labels.project.estimated_duration_in_months_placeholder"), input_html: { max: 36 } %>
  </div>
  <%= f.input :category, collection: Category.all, label: t("simple_form.labels.project.category"), include_blank: false %>
  <%= localized_input f, :problem, content_language, label: t("simple_form.labels.project.problem"), as: :text, input_html: {rows: 5} %>
  <%= localized_input f, :solution, content_language, label: t("simple_form.labels.project.solution"), as: :text, input_html: {rows: 5} %>
  <%= f.input :target_groups, collection: ProjectTargetGroup.all, label: t("simple_form.labels.project.target_groups"), as: :check_boxes %>
  <%= localized_input f, :expected_impact, content_language, label: t("simple_form.labels.project.expected_impact"), as: :text, input_html: {rows: 5} %>

  <h2 class="mb-4 mt-6 text-gray-600 font-semibold text-xl">
    <%= t(".impact") %>
  </h2>
  <%= f.label :impact_areas %>
  <div class="ml-2">
    <% ImpactArea::TYPES_WITH_GROUPS.each do |impact, impact_areas| %>
      <%= f.input :impact_areas, collection: impact_areas, label: Impact.find(impact).to_s, required: false, as: :check_boxes %>
    <% end %>
  </div>
  <%= f.input :sdgs, collection: Sdg.all, label: t("simple_form.labels.project.sdgs"), as: :check_boxes %>

  <h2 class="mb-4 mt-6 text-gray-600 font-semibold text-xl">
    <%= t(".funding_information") %>
  </h2>
  <%= f.input :looking_for_funding, label: t("simple_form.labels.project.looking_for_funding"), as: :radio_buttons %>
  <%= f.input :ticket_size, collection: TicketSize.all.map { |t| [t.description, t.id] }, label: t("simple_form.labels.project.ticket_size") %>
  <%= f.input :instrument_types, collection: InstrumentType.all, label: t("simple_form.labels.project.instrument_types"), as: :check_boxes %>
  <%= localized_input f, :funding_plan, content_language, label: t("simple_form.labels.project.funding_plan"), as: :text, input_html: {rows: 5} %>
  <%= f.input :received_funding, label: t("simple_form.labels.project.received_funding"), as: :radio_buttons %>
  <div class="grid grid-cols-2 gap-4">
    <%= f.input :received_funding_amount_usd, label: t("simple_form.labels.project.received_funding_amount_usd") %>
    <%= f.input :received_funding_investor, label: t("simple_form.labels.project.received_funding_investor"), as: :string %>
  </div>

  <h2 class="mb-4 mt-6 text-gray-600 font-semibold text-xl">
    <%= t(".how_will_project_grow") %>
  </h2>
  <%= localized_input f, :replicability, content_language, label: t("simple_form.labels.project.replicability"), as: :text, input_html: {rows: 5} %>
  <%= localized_input f, :sustainability, content_language, label: t("simple_form.labels.project.sustainability"), as: :text, input_html: {rows: 5} %>
  <%= localized_input f, :progress_impact_tracking, content_language, label: t("simple_form.labels.project.progress_impact_tracking"), as: :text, input_html: {rows: 5} %>
  <%= localized_input f, :description, content_language, label: t("simple_form.labels.project.description"), as: :text, input_html: {rows: 5} %>
  <%= localized_input f, :relevant_links, content_language, label: t("simple_form.labels.project.relevant_links"), as: :text, input_html: {rows: 5} %>

  <div class="mt-3 flex justify-end gap-3">
    <%= link_to t("backoffice.common.cancel"), backoffice_projects_path, class: "button button-secondary-green" %>
    <%= f.button :submit, t("backoffice.common.save"), class: "button button-primary-green" %>
  </div>
<% end %>
