<%= simple_form_for [:backoffice, project] do |f| %>
  <%= f.error_notification %>

  <%= f.input localized_attribute(:name), label: t("simple_form.labels.project.name"), as: :string %>
  <%= f.input :project_images, label: t("simple_form.labels.project.project_images"), as: :file, input_html: { multiple: true, accept: "image/*" } %>

  <h2 class="mb-4 mt-6 text-gray-600 font-semibold text-xl">
    <%= t(".location") %>
  </h2>
  <div class="grid grid-cols-3 gap-4">
    <%= f.input :country_id, collection: Location.country.order(["name", content_language].join("_")), label: t("simple_form.labels.project.country"), include_blank: false %>
    <%= f.input :department_id, collection: Location.department.order(["name", content_language].join("_")), label: t("simple_form.labels.project.department"), include_blank: false %>
    <%= f.input :municipality_id, collection: Location.municipality.order(["name", content_language].join("_")), label: t("simple_form.labels.project.municipality"), include_blank: false %>
  </div>
  <%= f.input :shapefile, as: :file %>

  <h2 class="mb-4 mt-6 text-gray-600 font-semibold text-xl">
    <%= t(".project_developers") %>
  </h2>
  <%= f.input :project_developer_id, collection: ProjectDeveloper.includes(:account).order("accounts.name"), label: t("simple_form.labels.project.project_developer"), include_blank: false %>
  <%= f.input :involved_project_developer_ids, collection: ProjectDeveloper.includes(:account).order("accounts.name"), label: t("simple_form.labels.project.involved_project_developers"), input_html: { multiple: true }, include_blank: true, include_hidden: false %>

  <h2 class="mb-4 mt-6 text-gray-600 font-semibold text-xl">
    <%= t(".description") %>
  </h2>
  <div class="grid grid-cols-2 gap-4">
    <%= f.input :development_stage, collection: ProjectDevelopmentStage.all, label: t("simple_form.labels.project.development_stage"), include_blank: false %>
    <%= f.input :estimated_duration_in_months, label: t("simple_form.labels.project.estimated_duration_in_months"), placeholder: t("simple_form.labels.project.estimated_duration_in_months_placeholder"), input_html: { max: 36 } %>
  </div>
  <%= f.input :category, collection: Category.all, label: t("simple_form.labels.project.category"), include_blank: false %>
  <%= f.input localized_attribute(:problem), label: t("simple_form.labels.project.problem"), as: :text, input_html: {rows: 5} %>
  <%= f.input localized_attribute(:solution), label: t("simple_form.labels.project.solution"), as: :text, input_html: {rows: 5} %>
  <%= f.input :target_groups, collection: ProjectTargetGroup.all, label: t("simple_form.labels.project.target_groups"), as: :check_boxes %>
  <%= f.input localized_attribute(:expected_impact), label: t("simple_form.labels.project.expected_impact"), as: :text, input_html: {rows: 5} %>

  <h2 class="mb-4 mt-6 text-gray-600 font-semibold text-xl">
    <%= t(".impact") %>
  </h2>
  <%= f.input :impact_areas, collection: ImpactArea.all, label: t("simple_form.labels.project.impact_areas"), as: :check_boxes %>
  <%= f.input :sdgs, collection: Sdg.all, label: t("simple_form.labels.project.sdgs"), as: :check_boxes %>

  <h2 class="mb-4 mt-6 text-gray-600 font-semibold text-xl">
    <%= t(".funding_information") %>
  </h2>
  <%= f.input :looking_for_funding, label: t("simple_form.labels.project.looking_for_funding"), as: :radio_buttons %>
  <%= f.input :ticket_size, collection: TicketSize.all.map { |t| [t.description, t.id] }, label: t("simple_form.labels.project.ticket_size") %>
  <%= f.input :instrument_types, collection: InstrumentType.all, label: t("simple_form.labels.project.instrument_types"), as: :check_boxes %>
  <%= f.input localized_attribute(:funding_plan), label: t("simple_form.labels.project.funding_plan"), as: :text, input_html: {rows: 5} %>
  <%= f.input :received_funding, label: t("simple_form.labels.project.received_funding"), as: :radio_buttons %>
  <div class="grid grid-cols-2 gap-4">
    <%= f.input :received_funding_amount_usd, label: t("simple_form.labels.project.received_funding_amount_usd") %>
    <%= f.input :received_funding_investor, label: t("simple_form.labels.project.received_funding_investor"), as: :string %>
  </div>

  <h2 class="mb-4 mt-6 text-gray-600 font-semibold text-xl">
    <%= t(".how_will_project_grow") %>
  </h2>
  <%= f.input localized_attribute(:replicability), label: t("simple_form.labels.project.replicability"), as: :text, input_html: {rows: 5} %>
  <%= f.input localized_attribute(:sustainability), label: t("simple_form.labels.project.sustainability"), as: :text, input_html: {rows: 5} %>
  <%= f.input localized_attribute(:progress_impact_tracking), label: t("simple_form.labels.project.progress_impact_tracking"), as: :text, input_html: {rows: 5} %>
  <%= f.input localized_attribute(:description), label: t("simple_form.labels.project.description"), as: :text, input_html: {rows: 5} %>
  <%= f.input localized_attribute(:relevant_links), label: t("simple_form.labels.project.relevant_links"), as: :text, input_html: {rows: 5} %>

  <div class="mt-3 flex justify-end gap-3">
    <%= link_to t("backoffice.common.cancel"), backoffice_projects_path, class: "button button-secondary-green" %>
    <%= f.button :submit, t("backoffice.common.save"), class: "button button-primary-green" %>
  </div>
<% end %>
