<div class="flex">
  <aside class="w-2/6">
    <h1 class="font-semibold text-xl text-black mb-8">
      <%= @project.name %>
    </h1>

    <ul class="flex flex-col gap-8">
      <li><%= section_link_to t("backoffice.projects.information"), :information, default: true %></li>
      <li><%= section_link_to t("backoffice.projects.status"), :status %></li>
      <li><%= section_link_to t("backoffice.projects.project_developers"), :project_developers %></li>
    </ul>
  </aside>
  <div class="w-full h-full bg-white rounded-xl p-6">
    <%= render section_partial %>
  </div>
</div>
