<%= render "backoffice/shared/filters", q: @q do |f| %>
  <%= render partial: "backoffice/shared/full_text_filter", locals: { f: f } %>
  <div class="w-30 inline-block mx-3">
    <%= f.input :status_eq, as: :select, required: false, label: false, prompt: I18n.t("backoffice.common.status"),
                collection: Project.statuses.map { |k, v| [I18n.t("activerecord.attributes.project.statuses.#{k}"), v] } %>
  </div>
<% end %>

<table class="backoffice-table">
  <thead>
    <tr>
      <th>
        <%= localized_sort_link @q, :name, t("backoffice.common.project_name") %>
      </th>
      <th>
        <%= sort_link @q, :project_developer_account_name, t("backoffice.common.project_developer") %>
      </th>
      <th>
        <%= sort_link @q, :category_index, t("backoffice.common.category") %>
      </th>
      <th>
        <%= sort_link @q, :priority_landscape_name, t("backoffice.common.mosaic") %>
      </th>
      <th>
        <%= sort_link @q, :trusted, t("backoffice.common.status") %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |p| %>
      <tr>
        <td><%= p.name %></td>
        <td><%= p.project_developer.name %></td>
        <td><%= Category.find(p.category).name %></td>
        <td><%= p.priority_landscape&.name %></td>
        <td>
          <%= status_tag :verified, t('backoffice.common.verified') if p.trusted?  %>
          <%= status_tag :unverified, t('backoffice.common.unverified') unless p.trusted?  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
