<%= simple_form_for [:backoffice, open_call], url: backoffice_open_call_path(open_call.id) do |f| %>
  <%= f.error_notification %>
  <%= hidden_field_tag :content_lang, params[:content_lang] %>
  <%= hidden_field_tag :section, params[:section] %>

  <h2 class="mb-4 mt-6 text-gray-600 font-semibold text-xl">
    <%= t(".general") %>
  </h2>

  <%= localized_input f, :name, content_language, as: :string %>
  <%= render "image_with_thumbnail", f: f, blob: :picture, required: false %>
  <div class="grid grid-cols-3 gap-4">
    <%= f.input :country_id, collection: Location.country.order(["name", content_language].join("_")), include_blank: false %>
    <%= f.input :department_id, collection: Location.department.order(["name", content_language].join("_")) %>
    <%= f.input :municipality_id, collection: Location.municipality.order(["name", content_language].join("_")) %>
  </div>
  <%= localized_input f, :description, content_language, as: :text, input_html: {rows: 5} %>

  <h2 class="mb-4 mt-6 text-gray-600 font-semibold text-xl">
    <%= t(".investor") %>
  </h2>

  <%= f.input :investor_id, collection: Investor.includes(:account).order("accounts.name"), include_blank: false %>

  <h2 class="mb-4 mt-6 text-gray-600 font-semibold text-xl">
    <%= t(".impact") %>
  </h2>

  <%= localized_input f, :impact_description, content_language, as: :text, input_html: {rows: 5} %>
  <%= f.input :sdgs, collection: Sdg.all, as: :check_boxes %>

  <h2 class="mb-4 mt-6 text-gray-600 font-semibold text-xl">
    <%= t(".funding") %>
  </h2>

  <%= f.input :maximum_funding_per_project, as: :integer %>
  <%= f.input :instrument_types, collection: InstrumentType.all, as: :check_boxes %>
  <%= localized_input f, :funding_priorities, content_language, as: :text, input_html: {rows: 5} %>
  <%= localized_input f, :funding_exclusions, content_language, as: :text, input_html: {rows: 5} %>

  <h2 class="mb-4 mt-6 text-gray-600 font-semibold text-xl">
    <%= t(".date") %>
  </h2>

  <%= f.input :closing_at, as: :date, html5: true %>

  <div class="mt-3 flex justify-end gap-3">
    <%= link_to t("backoffice.common.cancel"), backoffice_projects_path, class: "button button-secondary-green" %>
    <%= f.button :submit, t("backoffice.common.save"), class: "button button-primary-green" %>
  </div>
<% end %>
