<div class="flex">
  <%= render partial: "filters", locals: {q: @q} %>
  <%= render partial: "backoffice/base/total_records" %>
</div>

<table class="backoffice-table">
  <thead>
  <tr>
    <th>
      <%= sort_link @q, :name, t("backoffice.open_calls.index.name") %>
    </th>
    <th>
      <%= sort_link @q, :investor_account_name, t("backoffice.common.investor") %>
    </th>
    <th>
      <%= sort_link @q, :municipality_name, [:municipality_name, :department_name, :country_name], t("backoffice.open_calls.index.location") %>
    </th>
    <th>
      <%= sort_link @q, :open_call_applications_count, t("backoffice.open_calls.index.applications") %>
    </th>
    <th class="min-w-[10rem]">
      <%= sort_link @q, :status, t("backoffice.common.status") %>
    </th>
    <th class="min-w-[10rem]">
      <%= sort_link @q, :verified, t("backoffice.common.verification") %>
    </th>
    <th>
    </th>
    <th class="opacity-25">
      <%= svg "menu" %>
    </th>
  </tr>
  </thead>
  <tbody>
  <% @open_calls.each do |open_call| %>
    <tr>
      <td><%= open_call.name %></td>
      <td><%= open_call.investor.name %></td>
      <td><%= [open_call.municipality&.name, open_call.department&.name, open_call.country&.name].compact.join(", ") %></td>
      <td><%= open_call.open_call_applications_count %></td>
      <td>
        <%= status_tag :launched, t('enum.open_call_status.launched') if open_call.launched? %>
        <%= status_tag :closed, t('enum.open_call_status.closed') if open_call.closed? %>
        <%= status_tag :draft, t('enum.open_call_status.draft') unless open_call.launched? || open_call.closed? %>
      </td>
      </td>
      <td>
        <%= status_tag :verified, t('backoffice.common.verified') if open_call.verified?  %>
        <%= status_tag :unverified, t('backoffice.common.unverified') unless open_call.verified?  %>
      </td>
      <td><%= link_to t("backoffice.common.edit"), edit_backoffice_open_call_path(open_call.id), class: "link-button" %></td>
      <td>
        <%= render "menu" do %>
          <% if open_call.verified? %>
            <%= render "backoffice/base/menu/item" do %>
              <%= button_to t("backoffice.common.unverify"), unverify_backoffice_open_call_path(open_call.id), method: :post %>
            <% end %>
          <% end %>
          <% unless open_call.verified? %>
            <%= render "backoffice/base/menu/item" do %>
              <%= button_to t("backoffice.common.verify"), verify_backoffice_open_call_path(open_call.id), method: :post %>
            <% end %>
          <% end %>
          <%= render "backoffice/base/menu/item" do %>
            <%= link_to t("backoffice.common.delete"), backoffice_open_call_path(open_call.id),
               data: {
                 turbo_method: :delete,
                 turbo_confirm: t("backoffice.messages.delete_confirmation", model: t("backoffice.common.open_call").downcase)
               } %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
