<%= simple_form_for [:backoffice, user] do |f| %>
  <%= f.error_notification %>
  <%= hidden_field_tag :section, params[:section] %>

  <h2 class="mb-4 mt-6 text-gray-600 font-semibold text-xl">
    <%= t(".information") %>
  </h2>

  <%= render "image_with_thumbnail", f: f, blob: :avatar, required: false %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :otp_required_for_login, collection: [[t("true"), true], [t("false"), false]], as: :radio_buttons %>

  <div class="mt-3 flex justify-end gap-3">
    <%= link_to t("backoffice.common.cancel"), backoffice_users_path, class: "button button-secondary-green" %>
    <%= f.button :submit, t("backoffice.common.save"), class: "button button-primary-green" %>
  </div>
<% end %>
