<div class="flex">
  <%= render partial: "filters", locals: {q: @q} %>
  <%= render partial: "backoffice/base/total_records" %>
</div>

<table class="backoffice-table">
  <thead>
    <tr>
      <th>
        <%= sort_link @q, :full_name, t("backoffice.common.name") %>
      </th>
      <th>
        <%= sort_link @q, :email, t("backoffice.common.email") %>
      </th>
      <th>
        <%= sort_link @q, :account_name, t("backoffice.users.index.account") %>
      </th>
      <th>
        <%= sort_link @q, :created_at, t("backoffice.common.created_at") %>
      </th>
      <th>
        <%= sort_link @q, :last_sign_in_at, t("backoffice.users.index.last_sign_in_at") %>
      </th>
      <th>
      </th>
      <th class="opacity-25"><%= svg "menu" %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <td><%= account_link_for user.account %></td>
        <td><%= I18n.l user.created_at.to_date %></td>
        <td><%= I18n.l user.last_sign_in_at&.to_date, default: '' %></td>
        <td><%= link_to t("backoffice.common.edit"), edit_backoffice_user_path(user.id), class: "link-button" %></td>
        <td>
          <%= render "menu" do %>
            <%= render "backoffice/base/menu/item" do %>
              <%= link_to t("backoffice.common.delete"), backoffice_user_path(user.id),
                 data: {
                   turbo_method: :delete,
                   turbo_confirm: t("backoffice.messages.delete_confirmation", model: t("backoffice.common.user").downcase)
                 } %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
