<% link = pagy_link_proc(pagy) -%>
<nav aria-label="Pagination" class="pagination">
  <ol>
    <li>
      <% if pagy.prev %>
        <%== link.call(pagy.prev, t("backoffice.common.navigation.prev"), 'aria-label="previous"') %>
      <% else %>
        <%== link.call(pagy.prev, t("backoffice.common.navigation.prev"), 'aria-label="previous" class="disabled"') %>
      <% end %>
    </li>

    <% pagy.series.each do |item| # series example: [1, :gap, 7, 8, "9", 10, 11, :gap, 36] %>
    <li>
      <% if item.is_a?(Integer) %>
        <%== link.call(item) %>
      <% elsif item.is_a?(String) %>
        <%= link_to item, "#", class: "active disabled" %>
      <% elsif item == :gap %>
        <%= link_to t("backoffice.common.navigation.gap"), "#", class: "disabled" %>
      <% end %>
    </li>
    <% end %>

    <li>
      <% if pagy.next %>
        <%== link.call(pagy.next, t("backoffice.common.navigation.next"), 'aria-label="next"') %>
      <% else %>
        <%== link.call(pagy.prev, t("backoffice.common.navigation.next"), 'aria-label="next" class="disabled"') %>
      <% end %>
    </li>
  </ol>
</nav>
