<%= simple_form_for [:backoffice, admin] do |f| %>
  <%= f.error_notification %>

  <h2 class="mb-4 mt-6 text-gray-600 font-semibold text-xl">
    <%= t(".information") %>
  </h2>

  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email, required: true %>

  <div class="mt-3 flex justify-end gap-3">
    <%= link_to t("backoffice.common.cancel"), backoffice_investors_path, class: "button button-secondary-green" %>
    <%= f.button :submit, t("backoffice.common.save"), class: "button button-primary-green" %>
  </div>
<% end %>
