<%= simple_form_for [:backoffice, @admin] do |f| %>
  <%= f.error_notification %>
  <%= hidden_field_tag :section, params[:section] %>

  <h2 class="mb-4 mt-6 text-gray-600 font-semibold text-xl">
    <%= t("backoffice.admins.password") %>
  </h2>

  <%= f.input :password, required: true, input_html: { autocomplete: "new-password" } %>
  <%= f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" } %>

  <div class="mt-3 flex justify-end gap-3">
    <%= link_to t("backoffice.common.cancel"), backoffice_admins_path, class: "button button-secondary-green" %>
    <%= f.button :submit, t("backoffice.common.save"), class: "button button-primary-green" %>
  </div>
<% end %>
