<%= simple_form_for [:backoffice, @project_developer] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <h2 class="mb-4 mt-6 text-gray-600 font-semibold text-xl">Verification status</h2>

  <%= f.simple_fields_for :account do |ff|  %>
    <%= ff.input :review_status, collection: ReviewStatus.all, include_blank: false %>
  <% end %>

  <div class="mt-3 flex justify-end gap-3">
    <%= link_to t("backoffice.common.cancel"), :back, class: "button button-secondary-green" %>
    <%= f.button :submit, t("backoffice.common.save"), class: "button button-primary-green" %>
  </div>
<% end %>
