<div class="flex">
  <%= render partial: "filters", locals: {q: @q} %>
  <%= render partial: "backoffice/base/total_records" %>
</div>

<table class="backoffice-table">
  <thead>
    <tr>
      <th>
        <%= sort_link @q, :account_name, t("backoffice.common.account_name") %>
      </th>
      <th>
        <%= sort_link @q, :account_owner_full_name, t("backoffice.common.account_owner") %>
      </th>
      <th>
        <%= sort_link @q, :account_contact_email, t("backoffice.common.contact_email") %>
      </th>
      <th>
        <%= sort_link @q, :account_contact_phone, t("backoffice.common.contact_phone") %>
      </th>
      <th>
        <%= sort_link @q, :account_users_count, t("backoffice.common.account_users") %>
      </th>
      <th>
        <%= sort_link @q, :projects_count, t(".projects") %>
      </th>
      <th>
        <%= sort_link @q, :account_language, t("backoffice.common.language") %>
      </th>
      <th class="min-w-[10rem]">
        <%= sort_link @q, :account_review_status, t("backoffice.common.status") %>
      </th>
      <th>
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @project_developers.each do |pd| %>
      <tr>
        <td><%= pd.name %></td>
        <td><%= pd.account.owner.full_name %></td>
        <td><%= pd.contact_email %></td>
        <td><%= pd.contact_phone %></td>
        <td><%= pd.account.users_count %></td>
        <td><%= pd.projects_count %></td>
        <td><%= pd.language %></td>
        <td><%= status_tag pd.account.review_status, ReviewStatus.find(pd.account.review_status).name %></td>
        <td><%= link_to t("backoffice.common.edit"), edit_backoffice_project_developer_path(pd.id), class: "link-button" %></td>
        <td>
          <%= button_to t("backoffice.common.approve"), approve_backoffice_account_path(pd.account.id), class: "link-button", method: :post unless pd.account.approved? %>
          <%= button_to t("backoffice.common.reject"), reject_backoffice_account_path(pd.account.id), class: "link-button", method: :post unless pd.account.rejected? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
