<div class="bg-white p-6 rounded-2xl shadow-lg min-w-[600px]">
  <h2 class="text-green-dark font-bold text-lg">Welcome to HeCO Invest backoffice.</h2>

  <p class="my-6 text-gray-600">Please enter your details below.</p>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.input :email %>
    <%= f.input :password %>

    <% if devise_mapping.rememberable? %>
      <%= f.input :remember_me, as: :boolean %>
    <% end%>

    <%= f.submit "Sign in", class: "button button-primary-green mx-auto" %>
  <% end %>
</div>
